<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <style type="text/css">
      .done {
        text-decoration: line-through;
        color:lightgray;
      }
      a {
        color:lightgrey;
      }
      span {
        margin-left: 25px;
      }
      #todo-list input[type='checkbox'] {
       margin-left:15px;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" src="/dist/bundle.js"></script>
   </body>
</html>
